body {
    margin: 0em 2em 2em 2em;
    font-family: arial;
}

h1 {
  color: #060;
  text-align: center;
}

a:link , a:visited, a:hover, a:active { 
  color: #060;
  text-decoration: none;
}

#moth {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}

table {
    border-collapse: collapse;
    empty-cells:hide;
    color: #060;
    margin-left: auto;
    margin-right: auto;
}

td {
    vertical-align: top;
    padding: 2px;
    font-size: small;
    font-weight: bold;
}

td.r {
    text-align: right;
}

input {
    border-style: hidden;
    font-size: medium;
    text-align: right;
    background-color: #eee;
    color: #060;
}

table.benefit td
{   
    padding: 0 0.5em;
	font-size: 25px;
	text-align: left;
}

table.benefit td.r {
	text-align: right;
}


line {
    stroke: #006600;
}

text {
    font-family: verdana;
    font-size: 9pt;
    font-weight: normal;
    font-style: normal;
    fill: #006600;
    stroke: none;
}

.check {
    opacity : 0;
}

.checked {
    opacity : 1;
}

.mothbox {
    stroke : #006600;
    fill: #EEEEEE;
}

.mark {
    stroke : #006600;
    fill: #DDFFDD;
}
