html {
    font-family: verdana;
}

.area {
  fill: lightsteelblue;
}


path {
    stroke: #060;
    stroke-width: 3px;
    fill: none;
}
 
line {
    stroke: #060;
    stroke-width: 1px;
}

h1 {
    font-family: verdana;
    color: #060;
}
 
text {
    font-family: verdana;
    font-size: 9pt;
    stroke-width: 1px;
    font-weight: normal;
    font-style: normal;
    fill: #060;
    stroke: none;
}

.xRule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.yRule line {
  stroke: #eee;
  shape-rendering: crispEdges;
}

.toolDiv  {
    display: inline;
    float: left;
    padding: 5px;
}



#toolsDiv {
    height : 50px;
}

#toolBar {
    border-collapse:collapse;
}

.toolTD {
    background: #eee;
    color: #060;
    border: 1px solid #ccc;
    font-size: 12px;
}

#graphDiv {
    height : 10px;
}

.check {
    opacity : 0;
}

.checked {
    opacity : 1;
}

.mothbox {
    stroke : #060;
    fill: #eee;
}

.wayf {
}

.line {
    stroke : #060;
}

.selected rect{
    stroke-width: 4px;
}

#mothDiv {

}

div {
    
}


#widget {
	position: relative;
	display: inline;
	float: left;
	margin: 0px;
	padding: 0px;
}

#widgetField {
	width: 188px;
	height: 26px;
	background: url(../images/field.png);
	overflow: hidden;
	position: relative;
}
#widgetField a 	{
	display: block;
	position: absolute;
	width: 26px;
	height: 26px;
	top: 0;
	right: 0;
	text-decoration: none;
	text-indent: -3000px;
}
#widgetField span	{
	font-size: 12px;
	color: #060;
	position: absolute;
	top: 0;
	height: 26px;
	line-height: 26px;
	left: 5px;
	width: 150px;
	text-align: center;
}
#widgetCalendar {
	position: absolute;
	top: 26px;
	left: 0;
	height: 0px;
	overflow: hidden;
	width: 590px;
	background: #eee;
}
#widgetCalendar .datepicker {
	position: absolute;
	bottom: 0;
	top: auto;
}
#widgetCalendar .datepickerContainer,
#widgetCalendar .datepickerBorderT,
#widgetCalendar .datepickerBorderB,
#widgetCalendar .datepickerBorderL,
#widgetCalendar .datepickerBorderR,
#widgetCalendar .datepickerBorderTL,
#widgetCalendar .datepickerBorderTR,
#widgetCalendar .datepickerBorderBL,
#widgetCalendar .datepickerBorderBR {
	background: transparent !important;
}
#widgetCalendar .datepicker a:hover{
	color: #000;
}

div.datepicker {
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	width: 196px;
	height: 147px;
	position: absolute;
	cursor: default;
	top: 0;
	left: 0;
	display: none;
}
.datepickerContainer {
	background: #000;
	position: absolute;
	top: 10px;
	left: 10px;
}
.datepickerBorderT {
	position: absolute;
	left: 10px;
	top: 0;
	right: 10px;
	height: 10px;
	background: url(../images/datepicker_t.png);
}
.datepickerBorderB {
	position: absolute;
	left: 10px;
	bottom: 0;
	right: 10px;
	height: 10px;
	background: url(../images/datepicker_b.png);
}
.datepickerBorderL {
	position: absolute;
	left: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/datepicker_l.png);
}
.datepickerBorderR {
	position: absolute;
	right: 0;
	bottom: 10px;
	top: 10px;
	width: 10px;
	background: url(../images/datepicker_r.png);
}
.datepickerBorderTL {
	position: absolute;
	top: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_tl.png);
}
.datepickerBorderTR {
	position: absolute;
	top: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_tr.png);
}
.datepickerBorderBL {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_bl.png);
}
.datepickerBorderBR {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 10px;
	height: 10px;
	background: url(../images/datepicker_br.png);
}
.datepickerHidden {
	display: none;
}
div.datepicker table {
	border-collapse:collapse;
	border: 0px;
}
div.datepicker a {
	color: #060;
	text-decoration: none;
	cursor: default;
	outline: none;
}
div.datepicker table td {
	text-align: right;
	padding: 0;
	margin: 0;
}
div.datepicker th {
	text-align: center;
	color: #000;
	font-weight: normal;
}
div.datepicker tbody th {
	text-align: left;
}
div.datepicker tbody a {
	display: block;
}

.datepickerViewDays {
    border: none;
}

.datepickerDays a {
	width: 20px;
	line-height: 16px;
	height: 16px;
	padding-right: 2px;
}
.datepickerYears a,
.datepickerMonths a{
	width: 44px;
	line-height: 36px;
	height: 36px;
	text-align: center;
}
td.datepickerNotInMonth a {
	color: #000;
}
tbody.datepickerDays td.datepickerSelected{
	background: #CCCCFF;
}
tbody.datepickerDays td.datepickerNotInMonth.datepickerSelected {
	background: #fff;
}
tbody.datepickerYears td.datepickerSelected,
tbody.datepickerMonths td.datepickerSelected{
	background: #17384d;
}
div.datepicker tbody th {
	text-align: left;
}
.datepickerSpace div {
	width: 20px;
}
.datepickerGoNext a,
.datepickerGoPrev a,
.datepickerMonth a {
	text-align: center;
	height: 20px;
	line-height: 20px;
}
.datepickerGoNext a {
	float: right;
	width: 20px;
}
.datepickerGoPrev a {
	float: left;
	width: 20px;
}
table.datepickerViewDays tbody.datepickerMonths,
table.datepickerViewDays tbody.datepickerYears {
	display: none;
}
table.datepickerViewMonths tbody.datepickerDays,
table.datepickerViewMonths tbody.datepickerYears,
table.datepickerViewMonths tr.datepickerDoW {
	display: none;
}
table.datepickerViewYears tbody.datepickerDays,
table.datepickerViewYears tbody.datepickerMonths,
table.datepickerViewYears tr.datepickerDoW {
	display: none;
}
td.datepickerDisabled a,
td.datepickerDisabled.datepickerNotInMonth a{
	color: #333;
}
td.datepickerDisabled a:hover {
	color: #333;
}
td.datepickerSpecial a {
	background: #700;
}
td.datepickerSpecial.datepickerSelected a {
	background: #a00;
}
